<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>


<table border="1" th:object="${book}">
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Categoria</th>
        <th>Nombre Autor</th>
        <th>Apellido Autor</th>
        <th>Likes</th>
        <th>Mostrar</th>
    </tr>
    <tr th:each="Book: ${book}">
        <div th:if="${Book.mostrar==true}">

            <td th:text="${Book.id}">
            </td>
            <td th:text="${Book.title}">

            </td>
            <td th:text="${Book.bookCategory.name}">
            </td>
            <td th:text="${Book.user.name}">
            </td>
            <td th:text="${Book.user.apellido}">
            </td>
            <td th:text="${Book.likes}">
            </td>
            <td th:text="${Book.mostrar}">

            </td>
            <td>
                <a th:href="@{/book/}+${Book.id}">Ver</a>
                <a th:href="@{/book/edit/}+${Book.id}">Editar</a>
                <a th:href="@{/book/delete/}+${Book.id}">Borrar</a>
                <a th:href="@{/book/like/}+${Book.id}">Like</a>
                <a th:href="@{/book/dislike/}+${Book.id}">Dislike</a>

            </td>
        </div>
    </tr>
</table>
<h1><a href="/book/new">Nuevo</a></h1>
</body>
</html>