<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario</title>
</head>
<body>
<form action="/user" method="Post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <b>Nombre:</b><input type="text" name="name">
    <b>Apellido:</b><input type="text" name="apellido">
    <b>Ciudad:</b> <select th:field="*{user.country}">
    <option th:each="country: ${countries}" th:value="${country.id}"  th:text="${country.name}"></option>
</select>
    <input type="submit" value="Guardar">
</form>
</body>
</html>